<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>   
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />    
  </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGameShopWarehouse" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Temporary_Listen_Addresses/GameShopWarehouseService/GameShopWarehouseServiceEndpoint"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGameShopWarehouse"
                contract="GameShopWarehouseService.IGameShopWarehouse" name="WSHttpBinding_IGameShopWarehouse">
                <identity>
                    <userPrincipalName value="DESKTOP-DZIURSO\jakub" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file type ="log4net.Util.PatternString"
            value="%envFolderPath{MyDocuments}\\GameShop\\GameShopWarehouseTest.log" />      
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>