<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGameShopWarehouse" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Temporary_Listen_Addresses/GameShopWarehouseService/GameShopWarehouseServiceEndpoint"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGameShopWarehouse"
                contract="GameShopRef.IGameShopWarehouse" name="WSHttpBinding_IGameShopWarehouse">
                <identity>
                    <userPrincipalName value="DESKTOP-L2BUIF3\Inisigme" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>